.newscont {
    background: white;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
}

.newscont .head {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    font-size: 18px;
    padding-left: 4%;
    padding-right: 4%;
}