<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028327965443-a2itrbf4rkk8ov9e9e8j7m9dtrug4jg6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028327965443-a2itrbf4rkk8ov9e9e8j7m9dtrug4jg6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1028327965443-js06s6alh1dsjp7j2659mul8gdqvllcs.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAmnub2UsX02TL_nGNdzy1PPnr5STw6Gis</string>
	<key>GCM_SENDER_ID</key>
	<string>1028327965443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.grtv.dev</string>
	<key>PROJECT_ID</key>
	<string>grtv-2c63e</string>
	<key>STORAGE_BUCKET</key>
	<string>grtv-2c63e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028327965443:ios:056aec3eda2954d6811f36</string>
</dict>
</plist>