    .info {
        position: absolute;
        bottom: 5%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        z-index: 1000000000000;
    }
    
    .info .first {
        width: 70%;
        margin-left: 5%;
    }
    
    .info .first .linet {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 5%;
        font-weight: 600;
        text-shadow: 1px 1px 4px #000000e3;
    }
    
    .adwaiter {
        backdrop-filter: blur(6px);
        -webkit-backdrop-filter: blur(6px);
        background: #000000cf;
        padding-top: 0;
        padding-bottom: 0;
        height: 100%;
        width: 100%;
    }
    
    .adwaiter .adcontain {
        width: 100%;
        height: 80%;
    }
    
    .adwaiter .adcontain img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .adwaiter .adcontain video {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    
    .adwaiter .skipcontain {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    iframe{
        height: 100%;
        width: 100%;
        object-fit: contain;
        display: flex;
        justify-content: center;
        align-items: center;
    }  
    .adwaiter .skipcontain ion-button {
        width: 40%;
        --background: #c7c7c7;
        height: 50%;
        color: black;
        font-weight: 600;
    }

    cloudflare-stream{
        height: max-content;
        width: 100%;
    }

    .theplayer{
        height: 100%;
    width: 100%;
    display: contents;
    position: relative;
    z-index: -1;
    }

    cloudflare-stream .stream{
        margin: auto;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .info .profile {
        width: 20%;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-direction: column;
        align-items: center;
    }

    .pulse {
        animation: pulse-animation 1.5s infinite
    }
    
    @keyframes pulse-animation {
        0% {
            box-shadow: 0 0 0 0px rgba(114, 114, 114, 0.664);
        }
        100% {
            box-shadow: 0 0 0 40px rgba(153, 153, 153, 0);
        }
    }
    .info .profile .spons{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info .profile .spons span{
        font-weight: 600;
    text-shadow: 2px 2px 4px black;
    text-align: center;
    font-size: 14px;
    }
    .info .profile .avatar {
        -webkit-animation: spin 4s linear infinite;
        -moz-animation: spin 4s linear infinite;
        animation: spin 4s linear infinite;
    }
    
    @-moz-keyframes spin {
        100% {
            -moz-transform: rotate(360deg);
        }
    }
    
    @-webkit-keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
        }
    }
    
    @keyframes spin {
        100% {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
        }
    }