<div class="pronadmin" *ngIf="!preview">
    <div class="proheader">
        <img src="../../../assets/logo/grtv.png" alt="">
        <span (click)="dismissModal()"> <ion-icon name="chevron-down-outline"></ion-icon> </span>
    </div>
    <ion-list style="height: 90%;
    overflow-y: scroll;">
        <ion-item>
            <ion-select [(ngModel)]="hipodroName" placeholder="Selecciona el Hipodromo">
                <ion-select-option *ngFor="let item of hipodromos" value="{{item.nombre}}">{{item.nombre}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select [(ngModel)]="pais" placeholder="Selecciona el Pais">
                <ion-select-option *ngFor="let item of paises" value="{{item.name}}">{{item.name}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-select (ionChange)="seraPronostico()" [(ngModel)]="type" placeholder="Tipo de Post">
                <ion-select-option value="Pronostico">Pronostico</ion-select-option>

                <ion-select-option value="Noticia">Noticia</ion-select-option>

                <ion-select-option value="Resumen">Resumen</ion-select-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Descripcion del video</ion-label>
            <ion-textarea [(ngModel)]="descripcion" rows="3" maxlength="140" placeholder="Maximo 140 caracteres"></ion-textarea>
        </ion-item>

        <ion-item *ngIf="!programarPost" color="danger">
            <ion-label>Noticia Urgente</ion-label>
            <ion-toggle [(ngModel)]="noticiUrg" (ionChange)="isNoticiaUrg($event)"></ion-toggle>
        </ion-item>
        <!--Aqui va el programar post-->
        <ion-item style="margin-bottom: 15px;--background: #cfcfcf;">
            <ion-label>Programar Post</ion-label>
            <ion-toggle [(ngModel)]="programarPost" (ionChange)="isProgramarActive()"></ion-toggle>
        </ion-item>
        <span *ngIf="programarPost && fechaHoy && FullMonth && dayToday " style="margin-left: 5%; font-size: 12px;font-weight: 600;">Hoy es, {{dayToday}}, {{fechaHoy}} de {{FullMonth}} </span>
        <ion-item style="--background: #cfcfcf;" *ngIf="programarPost">
            <ion-label>Selecciona el dia</ion-label>
            <ion-select [(ngModel)]="dayPostProg">
                <ion-select-option value="1">1</ion-select-option>
                <ion-select-option value="2">2</ion-select-option>

                <ion-select-option value="3">3</ion-select-option>
                <ion-select-option value="4">4</ion-select-option>
                <ion-select-option value="5">5</ion-select-option>
                <ion-select-option value="6">6</ion-select-option>
                <ion-select-option value="7">7</ion-select-option>

                <ion-select-option value="8">8</ion-select-option>
                <ion-select-option value="9">9</ion-select-option>

                <ion-select-option value="10">10</ion-select-option>
                <ion-select-option value="11">11</ion-select-option>

                <ion-select-option value="12">12</ion-select-option>
                <ion-select-option value="13">13</ion-select-option>

                <ion-select-option value="14">14</ion-select-option>

                <ion-select-option value="15">15</ion-select-option>
                <ion-select-option value="16">16</ion-select-option>
                <ion-select-option value="17">17</ion-select-option>
                <ion-select-option value="18">18</ion-select-option>

                <ion-select-option value="19">19</ion-select-option>
                <ion-select-option value="20">20</ion-select-option>
                <ion-select-option value="21">21</ion-select-option>
                <ion-select-option value="22">22</ion-select-option>

                <ion-select-option value="23">23</ion-select-option>
                <ion-select-option value="24">24</ion-select-option>
                <ion-select-option value="25">25</ion-select-option>
                <ion-select-option value="26">26</ion-select-option>
                <ion-select-option value="27">27</ion-select-option>
                <ion-select-option value="28">28</ion-select-option>
                <ion-select-option value="29">29</ion-select-option>
                <ion-select-option value="30">30</ion-select-option>
                <ion-select-option value="31">31</ion-select-option>

            </ion-select>
        </ion-item>
        <ion-item *ngIf="programarPost && fechaHoy > 27 " style="--background: #cfcfcf;">
            <ion-label *ngIf="nextMonth">Necesitas publicar en {{nextMonth}}?</ion-label>
            <ion-toggle [(ngModel)]="PostonNextMonth"></ion-toggle>
        </ion-item>
        <ion-item *ngIf="programarPost" style="margin-bottom: 15px;--background: #cfcfcf;">
            <ion-label>Antes de las </ion-label>
            <ion-select [(ngModel)]="horaProgra" placeholder="Selecciona la hora">
                <ion-select-option value="07:00">07:00</ion-select-option>
                <ion-select-option value="08:00">08:00</ion-select-option>

                <ion-select-option value="09:00">09:00</ion-select-option>
                <ion-select-option value="10:00">10:00</ion-select-option>
                <ion-select-option value="11:00">11:00</ion-select-option>
                <ion-select-option value="12:00">12:00</ion-select-option>
                <ion-select-option value="13:00">13:00</ion-select-option>

                <ion-select-option value="14:00">14:00</ion-select-option>
                <ion-select-option value="15:00">15:00</ion-select-option>

                <ion-select-option value="16:00">16:00</ion-select-option>
                <ion-select-option value="17:00">17:00</ion-select-option>

                <ion-select-option value="18:00">18:00</ion-select-option>
                <ion-select-option value="19:00">19:00</ion-select-option>

                <ion-select-option value="20:00">20:00</ion-select-option>

                <ion-select-option value="21:00">21:00</ion-select-option>

            </ion-select>
        </ion-item>
        <!--Aqui muere el programar post-->
        <span style="margin-left: 5%;">Sube tu video</span>
        <ion-item>

            <ion-card *ngIf="!url && !uploadPercent" style="    width: 100%;
            height: 75%;
            display: flex;
            align-items: center;
            justify-content: space-around;">
                <span>Haz click aqui para subir tu video</span>
                <!--En caso de que no funcione en ios, recuerda especificar que el archivo es de mp4-->
                <input style="width: 100%; position: absolute; height: 100%; opacity: 0;" type="file" (change)="onUpload($event)">
            </ion-card>

            <span *ngIf="uploadPercent" style="width: 100%;
height: 20px;
background: green;
border-radius: 10px;
color: white;
font-weight: 600;">{{ uploadPercent| async }}%</span>
            <ion-input [(ngModel)]="url" type="hidden" [value]="urlImage | async"></ion-input>
        </ion-item>

        <div class="two-buttons" *ngIf="hipodroName && pais && type && descripcion && url">
            <ion-button (click)="previewVideo()">Preview</ion-button>
            <ion-button *ngIf="noticiUrg === false" (click)="sendRevision()">Enviar a Revision</ion-button>
            <ion-button *ngIf="noticiUrg === false && type === 'Pronostico' ">Publicar</ion-button>
            <ion-button *ngIf="noticiUrg === true" (click)="sendRevision()">Publicar</ion-button>
        </div>



    </ion-list>
</div>



<div *ngIf="preview" class="contenido" style="background: black;color: white;width: 100%;height: 100%;">
    <!--  <video style="height: 100%;width: 100%;object-fit: cover;" loop autoplay src="https://firebasestorage.googleapis.com/v0/b/grtv-2c63e.appspot.com/o/pronosticos%2FWhatsApp%20Video%202021-07-20%20at%204.24.52%20PM.mp4?alt=media&token=261b4aca-e15f-4495-b328-da2446f5aeb1"></video>
-->
    <video style="height: 100%;width: 100%;object-fit: cover;" id="prev" loop playsinline webkit-playsinline preload="metadata" class="video-js vjs-default-skin"></video>

    <div style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center; position: absolute;z-index: 100000;top: 0;{{blur}} ">
        <ion-icon *ngIf="blur" style="    font-size: 72px;
      color: #ffffff6b;" name="play"></ion-icon>
    </div>
    <span *ngIf="currentVideoDuration " style="position: absolute;
  bottom: 1%;
  color: #ffffffad;
  left: 4%;
  font-weight: 600;
  z-index: 1210000;
  text-shadow: 2px 2px 4px black;
  opacity: 0.4;">{{currentVideoDuration}} </span>

    <ion-avatar style="position: absolute;z-index: 1100000;top: 2%;left: 5%;">
        <img src="../../../assets/other/poster1.jpg" alt="">
    </ion-avatar>

    <span (click)="goBack()" style="position: absolute;z-index: 1100000;top: 2%;right: 2%;font-size: 22px;"> 
    <ion-icon name="chevron-down-outline"></ion-icon>
   </span>

    <div class="info">
        <div class="first">
            <div class="linet">
                <span *ngIf="userAny">{{userAny.displayName}} </span>
                <span *ngIf="pais">{{pais}} </span>
            </div>



            <span>{{descripcion}} </span>

            <div class="linet" style="margin-bottom: 0;margin-top: 5%;">
                <ion-slides style="width: 100%;height: 100%;" #hipDate [options]="hipoDate">
                    <ion-slide style="    justify-content: flex-start;
                  font-size: 14px;margin-right: 10%;">
                        <span *ngIf="hipodroName">{{hipodroName}} </span>
                    </ion-slide>
                    <ion-slide style="    justify-content: flex-start;
                  font-size: 16px;">
                        <span *ngIf="LongDate" style="margin-left:2px">{{LongDate}} </span>
                    </ion-slide>
                </ion-slides>

            </div>

        </div>
        <div class="profile">
            <ion-avatar *ngIf="userAny">
                <img [src]="userAny.photoURL" alt="">
            </ion-avatar>
        </div>
    </div>
</div>