.content {
    width: 100%;
    height: 100%;
    background: white;
    overflow-y: scroll;
}

.content h3 {
    margin-left: 5%;
}

.content .listado ion-button {
    width: 100%;
    margin: 0;
}

.content .head {
    height: 8vh;
    background: #000000d6;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 600;
}

#itemspan {
    font-size: 12px;
    font-weight: 600;
}

.pronadmin {
    height: 100%;
    width: 100%;
    background: white;
}

.pronadmin .proheader {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    background: #000000d6;
    align-items: center;
}

.pronadmin .proheader img {
    height: 60%;
}

.pronadmin .proheader span {
    color: white;
    font-size: 24px;
}

.two-buttons ion-button {
    width: 50%;
    margin: 0;
    --border-radius: 0;
}

.info {
    position: absolute;
    bottom: 5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1000000000000;
}

.info .first {
    width: 70%;
    margin-left: 5%;
}

.info .first .linet {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
    font-weight: 600;
    text-shadow: 1px 1px 4px #000000e3;
}

.info .profile {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.info .profile ion-avatar {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.bottom-data {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icont {
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.icont span {
    font-weight: 600;
    font-size: 14px;
}

.icont .slote {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1%;
    margin-top: 1%;
}

.icont .slote span {
    font-size: 12px;
}