<div class="content" *ngIf="!preview">
    <div class="head">
        <span>Pronosticos Control</span>
        <span (click)="cerrarModal()">Cerrar</span>
    </div>
    <ion-list>


        <ion-item-sliding *ngFor="let item of pronList">
            <ion-item-options side="start">
                <ion-item-option color="medium" (click)="aprobar(item)">Aprobar</ion-item-option>
                <ion-item-option (click)="goToLink(item)" style="    --background: #127baf;" (click)="aprobar(item)">Descargar Video</ion-item-option>
                <ion-item-option style="--background: #a12ea1;" (click)="openOptimizar(item)">Optimizar</ion-item-option>
            </ion-item-options>

            <!--Aqui se revisa si esta aprobado y optimizado-->
            <ion-item *ngIf="item.aproved === 'aprobado' && item.urgente === false && item.videoOptimizado !== 'no tiene'" (click)="previewVideo(item)" style="height: 12vh;--background: #63d063;">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice: 0 : 15 }}</span>
                        <span>Optimizado</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600;">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>

            <!--Aqui se revisa si esta aprobado, pero no esta optimizado-->
            <ion-item *ngIf="item.aproved === 'aprobado' && item.urgente === false && item.videoOptimizado === 'no tiene'" (click)="previewVideo(item)" style="height: 12vh;--background: linear-gradient(137deg, rgba(99,208,99,1) 81%, rgba(119,30,154,1) 100%);">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice : 0 : 15}}</span>
                        <span>Sin Optimizar</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>
            <!--Aqui esta aprobado urgente, pero no esta optimizado-->
            <ion-item *ngIf="item.aproved === 'aprobado'  && item.urgente === true && item.videoOptimizado === 'no tiene'" (click)="previewVideo(item)" style="height: 12vh;--background:linear-gradient(90deg, rgba(99,208,99,1) 40%, rgba(255,255,153,1) 100%);">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice : 0 : 15}}</span>
                        <span>Sin Optimizar</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan"> Urg</span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>


            <!--Aqui comienzan los pendiente-->

            <ion-item *ngIf="item.aproved === 'pendiente' && item.programarPost === true  && item.videoOptimizado === 'no tiene'" (click)="previewVideo(item)" style="height: 12vh;--background:linear-gradient(90deg, rgba(19,126,189,1) 0%, rgba(182,230,254,1) 100%);">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice : 0 : 15}}</span>
                        <span>Sin Optimizar</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>

            <!--Pendiente por aprobar-->
            <ion-item *ngIf="item.aproved === 'pendiente' && item.programarPost === false  && item.videoOptimizado === 'no tiene'" (click)="previewVideo(item)" style="height: 12vh;--background:#ffff99;">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice : 0 : 15}}</span>
                        <span>Sin Optimizar</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>


            <!--Rechazado-->
            <ion-item *ngIf="item.aproved === 'desaprobado' && item.programarPost === false  && item.videoOptimizado === 'no tiene'" (click)="previewVideo(item)" style="height: 12vh;--background:#ff7070;">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice : 0 : 15}}</span>
                        <span>Sin Optimizar</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>

            <!--Los que no tienen la app actualizada-->

            <ion-item *ngIf="item.aproved === 'pendiente'   && !item.videoOptimizado " (click)="previewVideo(item)" style="height: 12vh;--background:#ffff99;">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice : 0 : 15}}</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>

            <ion-item *ngIf="item.aproved === 'aprobado'   && !item.videoOptimizado " (click)="previewVideo(item)" style="height: 12vh;--background:#63d063;">

                <ion-avatar slot="start">
                    <img [src]="item.talentPhoto" alt="">
                </ion-avatar>
                <div class="icont">
                    <div class="bottom-data">
                        <span id="itemspan">{{item.talentName | slice : 0 : 15}}</span>
                        <span id="itemspan">{{item.pais}} </span>
                    </div>
                    <h3 style="font-size:16px; font-weight:600">{{item.hipodromo}} </h3>
                    <div class="bottom-data">
                        <span id="itemspan">{{item.type}}  </span>
                        <span id="itemspan" style="text-align: end;">{{item.date}} a las {{item.hour}} </span>
                    </div>

                </div>
            </ion-item>


            <ion-item-options side="end">
                <ion-item-option color="warning" (click)="pendiente(item)">Pendiente</ion-item-option>
                <ion-item-option color="danger" (click)="desaprobar(item)">Desaprobar</ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>

    <div class="updatevideo" [style]="optimizarOpen">
        <div class="headdd">

            <span>Sube el video Optimizado</span>
            <ion-icon (click)="closeUpdateVideo()" name="chevron-down-outline"></ion-icon>
        </div>
        <ion-item *ngIf="pronosToUpdate" style="    --background: transparent;">


            <ion-label position="floating" >{{pronosToUpdate.talentName}} | {{pronosToUpdate.hipodromo}}</ion-label>
            <ion-input [placeholder]="pronosToUpdate.videoOptimizado" [(ngModel)]="url" ></ion-input>

         
        </ion-item>

        <ion-button *ngIf="url" (click)="onOptimizarVideo()">Actualizar Video</ion-button>
    </div>
</div>





<div *ngIf="preview" class="contenido" style="background: black;color: white;width: 100%;height: 100%;">
    <!--  <video style="height: 100%;width: 100%;object-fit: cover;" loop autoplay src="https://firebasestorage.googleapis.com/v0/b/grtv-2c63e.appspot.com/o/pronosticos%2FWhatsApp%20Video%202021-07-20%20at%204.24.52%20PM.mp4?alt=media&token=261b4aca-e15f-4495-b328-da2446f5aeb1"></video>
-->
    <video style="height: 100%;width: 100%;object-fit: cover;" id="prevAdmin" loop playsinline webkit-playsinline preload="metadata" class="video-js vjs-default-skin"></video>

    <div style="height: 100%;width: 100%; display: flex;justify-content: center;align-items: center; position: absolute;z-index: 100000;top: 0;{{blur}} ">
        <ion-icon *ngIf="blur" style="    font-size: 72px;
    color: #ffffff6b;" name="play"></ion-icon>
    </div>
    <span *ngIf="currentVideoDuration " style="position: absolute;
bottom: 1%;
color: #ffffffad;
left: 4%;
font-weight: 600;
z-index: 1210000;
text-shadow: 2px 2px 4px black;
opacity: 0.4;">{{currentVideoDuration}} </span>

    <ion-avatar style="position: absolute;z-index: 1100000;top: 2%;left: 5%;">
        <img src="../../../assets/other/poster1.jpg" alt="">
    </ion-avatar>

    <span (click)="goBack()" style="position: absolute;z-index: 1100000;top: 2%;right: 2%;font-size: 22px;"> 
  <ion-icon name="chevron-down-outline"></ion-icon>
 </span>

    <div class="info">
        <div class="first">
            <div class="linet">
                <span *ngIf="previewItem">{{previewItem.talentName}} </span>
                <span *ngIf="previewItem">{{previewItem.pais}} </span>
            </div>



            <span>{{previewItem.descripcion}} </span>

            <div class="linet" style="margin-bottom: 0;margin-top: 5%;">
                <ion-slides style="width: 100%;height: 100%;" #hipDate [options]="hipoDate">
                    <ion-slide style="    justify-content: flex-start;
                font-size: 14px;margin-right: 10%;">
                        <span *ngIf="previewItem">{{previewItem.hipodromo}} </span>
                    </ion-slide>
                    <ion-slide style="    justify-content: flex-start;
                font-size: 16px;">
                        <span *ngIf="previewItem" style="margin-left:2px">{{previewItem.date}} </span>
                    </ion-slide>
                </ion-slides>

            </div>

        </div>
        <div class="profile">
            <ion-avatar *ngIf="previewItem">
                <img [src]="previewItem.talentPhoto" alt="">
            </ion-avatar>
        </div>
    </div>
</div>